@using CaimanProject.Models
@model LoginViewModel
@{
    ViewBag.Title = "Se connecter";
}

    <div class="loginpage">
        <div class="login-card">
            <div class="login-card__img-box">
                &nbsp;
            </div>
            <div class="login-card__content">
                <h1>Bienvenue</h1>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-group mb-4">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Adresse Mail", @style = "font-size:1.6rem; padding:1.5rem; height:5rem" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mb-4">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mot de Passe", @style = "font-size:1.6rem; padding:1.5rem; height:5rem" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Connexion" class="btn-green btn-sm"/>
                    </div>

                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary(true, "", new { @class="text-danger"})

                    <p style="float:right; font-size:12px;">
                        @Html.ActionLink("Créer un compte", "Register")
                    </p>
                }
                <small>&copy; Caiman admin - all rights reserved</small>
            </div>
        </div>
    </div>