@model CaimanProject.Models.ViewModel
<main class="main-content">
    <div class="block">
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in Model.Projets)
                {
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <a href="/Home/VueProjet/@item.ProjetId">
                        <div class="simple-card">
                            <div class="simple-card__content">
                                <span>En cours depuis le @item.ProjetDateDebut.ToString("dd MMM yyyy")</span>
                                <h2 class="mt-2">@item.ProjetName</h2>
                                <p>
                                    @item.ProjetDescription
                                </p>
                                <div class="members">
                                    <span>membres</span>

                                    <ul class="mb-0 mt-3">
                                       
                                        <li>
                                            <div class="br-frontend">
                                                <img src="/Content/img/user.png" class="rounduser" alt="username" title="username">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="simple-card__progress mt-4">
                                <div class="progress">
                                    <div class="progression" style="width: @item.ProjetProgressBar%;"></div>
                                </div>
                                <span>@item.ProjetProgressBar%</span>
                            </div>
                        </div>
                    </a>
                </div>
                }
                
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                    <a href="/Home/AddProject">
                        <div class="addProject">
                            <img src="/Content/icons/add.svg" alt="icon">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
