@model CaimanProject.Models.RegisterViewMode

<div class="loginpage">
    @if (ViewBag.Message != null)
    {
        <h1 class="modal-dialog" style="color:lawngreen">@ViewBag.Message</h1>
    }
    <div class="login-card">
        <div class="login-card__img-box">
            &nbsp;
        </div>
        <div class="login-card__content">
            <h1>Créer un compte</h1>
            @using (Html.BeginForm("Register", "Login", FormMethod.Post, new { @class = "formular mb-5", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group mb-4">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Nom" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserPnom, new { @class = "form-control", @placeholder = "Prénoms" })
                    @Html.ValidationMessageFor(m => m.UserPnom, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-4">
                    @Html.TextBoxFor(m => m.UserMail, new { @class = "form-control", @placeholder = "Adresse Mail" })
                    @Html.ValidationMessageFor(m => m.UserMail, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-4">
                    @Html.TextBoxFor(m => m.UserSexe, new { @class = "form-control", @placeholder = "Sexe" })
                    @Html.ValidationMessageFor(m => m.UserSexe, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-4">
                    @Html.TextBoxFor(m => m.UserPhone, new { @class = "form-control", @placeholder = "Téléphone(+225 02030405)" })
                    @Html.ValidationMessageFor(m => m.UserPhone, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-4">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mot de Passe" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-4">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmation du Mot de Passe" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn-green" value="S'inscrire" />
                    </div>
                </div>

                <p style="float:right; font-size:15px;">
                    @Html.ActionLink("Connectez vous ici", "Login")
                </p>
            }
            <small>&copy; Caiman admin - all rights reserved</small>
        </div>
    </div>
</div>
