@model CaimanProject.Models.Projet
<main class="main-content">
    <div class="block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-white">
                            <li class="breadcrumb-item"><a href="/Home/VueProjet/@Model.ProjetId">Projet</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Notes</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-12">
                    <div class="departmentDesc">
                        <h1>@Model.ProjetName</h1>
                        <p>
                            @Model.ProjetDescription
                        </p>
                        <a href="/Notes/AddNotes/@Model.ProjetId">
                            <button class="btn-green">Nouvelle note</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in ViewBag.Notes)
                {
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <div class="simple-card">
                            <div class="simple-card__content">
                                <h3>@item.NotePDate.ToString("dd MMM yyyy")</h3>
                                <p>
                                    @item.NotePDescription
                                </p>
                                <a href="/Notes/Readmore/@item.NotePId" class="link">
                                    Lire la suite
                                </a>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="row mt-5 mb-5">
                <div class="col-12 text-center">
                    <ul class="pagination">
                        @if (ViewBag.Page > ViewBag.MaxPage)
                        {
                            <li>
                                <div>
                                    @Html.ActionLink("Previous", "FinProjet", new { page = ViewBag.Page - 1 })
                                </div>
                            </li>
                        }
                        <li>
                            <h4>@ViewBag.Page sur @ViewBag.MaxPage</h4>
                        </li>

                        @if (ViewBag.Page < ViewBag.MaxPage)
                        {
                            <li>
                                <div>
                                    @Html.ActionLink("Next", "FinProjet", new { page = ViewBag.Page + 1 })
                                </div>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>